---
---
@charset "UTF-8";

@import
  "app/main",
  "production/main";

  @import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,800');
  @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

  body{
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 100%;
  }

  h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-top: 15px;
  }

  h1{
    font-size: 3em;
  }

  h2{
    font-size: 1.6em;
  }

  h3{
    font-size: 1.2 em;
  }

  h4{
    font-size: 1em;
    font-weight: bold;
  }

  p{
    font-size: 16px;
  }
  ul {
    list-style-type: none;
    padding-top: 5px;
  }
  .usp{
    color: red;
    font-style: italic;
  }
  .mono{
    font-family: 'IBM Plex Mono', monospace;
  }

  img {
    width: 100%;
    margin-top: 20px;
  }

  #screendesign {
    width: 70%;
  }

  #kleurcode {
    width: 20px;
    margin-top: -10px;
  }